@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  color: #093C5D;
  background: #F5F5F5;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* gfygy{
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: #F5F5F5;
}

button,
input {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


html.dark {
  color-scheme: dark;
}

html.dark :root {
  background-color: #050505 !important;
  color: #FFFFFF;
}

html.dark body {
  background-color: #050505 !important;
  color: #FFFFFF;
}